<h2>Level2 Control Panel</h2>


<hr />
<h4>Admin User</h4>
<p class="indent">Username: {{panelData.admin.username}}</p>
<p class="indent">Email: {{panelData.admin.email}}</p>

<a ng-click="routeTo('/edit-admin')" class="ink-badge yellow">Edit Credentials</a>


<hr />
<h4>Users and Groups</h4>
<p class="indent">Total Users: {{panelData.users.count}}</p>

<a ng-click="routeTo('/users/manage')" class="ink-badge blue">Manage Users</a>
<a ng-click="routeTo('/groups/manage')" class="ink-badge blue">Manage Groups</a>
<a ng-click="routeTo('/users/invite')" class="ink-badge blue">Send Invitation</a>


<hr />
<h4>Email</h4>
<a ng-click="routeTo('/email/settings')" class="ink-badge blue">Email Settings</a>


<hr />
<h4>Database</h4>
<p class="indent">Internal Migration Index: {{panelData.db.internalIndex}}</p>
<p class="indent">External Migration Index: {{panelData.db.externalIndex}}</p>
