<div class="ink-alert block error">
	<h4>
		An Error has Occurred
	</h4>
	
	<p ng-if="!userError.msg">
		{{userError | tostring}}
		<pre ng-if="!!userError.stack" class="error-text">{{userError.stack}}</pre>
	</p>
	
	<div ng-if="!!userError.msg">
		<span ng-if="!!userError.code" style="font-weight: bold;">
			{{userError.code}}
		</span><br />
		
		{{userError.msg}}
		
		<pre ng-if="!!userError.apiStack" class="error-text">{{userError.apiStack}}</pre>
	</div>
</div>