<h2>Email Settings</h2>
<hr />

<l2-form
    url="/email/settings"
    submitText="Save Settings"
    data="emailSettings"
    pre-submit="setupData" >

	<div class="control-group">
		<label>Default From Address</label>
		<div class="control">
			<input type="email" ng-model="data.defaultFrom" />
		</div>
	</div>
    
    <div class="control-group">
        <label>External Link URL</label>
        <div class="control">
            <input type="text" ng-model="data.externalUrl" />
        </div>
    </div>

    <div class="control-group">
        <label>Transport Mechanism</label>
        <div class="control">
            <select ng-model="data.transport">
                <option></option>
                <option value="debug" >Debugging</option>
                <option value="smtp">SMTP</option>
                <option value="direct">Direct Transport</option>
            </select>
        </div>
    </div>

    <!-- SMTP Options -->
    <div class="control-group" ng-if="data.transport == 'smtp'">
        <label>Host</label>
        <div class="control">
            <input type="text" ng-model="data.host" />
        </div>

        <label>Port</label>
        <div class="control">
            <input type="text" ng-model="data.port" />
        </div>

        <label>Username</label>
        <div class="control">
            <input type="text" ng-model="data.authUser" />
        </div>

        <label>Password</label>
        <div class="control">
            <input type="password" ng-model="data.authPass" />
        </div>

        <label>Client Hostname</label>
        <div class="control">
            <input type="text" ng-model="data.name" />
        </div>

        <label>Authentication Method</label>
        <div class="control">
            <input type="text" ng-model="data.authMethod" />
        </div>

        <ul class="control unstyled">
            <li>
                <input type="checkbox" ng-model="data.secure" />
                <label>Use SSL</label>
            </li><li>
                <input type="checkbox" ng-model="data.ignoreTLS" />
                <label>Disable STARTTLS</label>
            </li>
        </ul>

    </div>

</l2-form>
