<form class="ink-form" ng-submit="submitForm()" name="form">

	<input type="submit" class="ink-button blue" value="{{submitText || 'Submit'}}" />
	
	<p class="tip" ng-show="loading">Loading <i l2-icon="fa-refresh" l2-spin></i></p>
	<div class="ink-alert basic error" ng-show="error.message">
		<p>{{error.message}}</p>
		<p ng-show="error.details">{{error.details}}</p>
	</div>
</form>