<h2>Group Management</h2>
<hr />

<l2-form
	url="/users/create-group"
	submitText="Create Group"
	data="newData"
	on-success="injectGroup">
	
	<div class="control-group">
		<label>Create a New Group</label>
		<div class="control">
			<input type="text" ng-model="data.key" />
		</div>
	</div>
	
</l2-form>

<table class="ink-table">
	<thead>
		<tr>
			<th>Group Key</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="group in groups">
			<td>{{group.key}}</td>
			<td align="center">
				<a ng-click="deleteGroup(group.key, $index)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
