<!DOCTYPE html>
<html ng-app="l2">
	<head>
		<title>{{pageTitle}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Vendor Files -->
		<link rel="stylesheet" type="text/css" href="./vendor/vendor.css" />
		<script type="text/javascript" src="./vendor/vendor.js"></script>

		<!-- Application Styles -->
		<link rel="stylesheet" type="text/css" href="./assets/styles/header.css">
		<link rel="stylesheet" type="text/css" href="./assets/styles/shared.css">

		{{BUILDER_APP_INCLUDE}}

	</head>


	<body>

		<div class="base-wrapper">
			<l2-header>
			</l2-header>

			<div class="base-content">
				<div class="ink-grid">
					<div class="column-group">
						<div class="all-0 large-25 xlarge-25 hide-all show-large show-xlarge">&nbsp;</div>

						<div class="all-100 large-50 xlarge-50">
							<l2-notifications></l2-notifications>

							<div ng-view></div>
						</div>
					</div>
				</div>
			</div>

			<div class="base-footer">
				<div>
					<span class="footer-version">Level2 Remix 1.0.0-alpha.14</span>
				</div>
			</div>
		</div>

	</body>

</html>
