<l2-form
	url="/setup/admin"
	submit-text="Create Admin"
	name="adminForm"
	on-success="goHome" >
	
	<div class="control-group required">
		<label>Username</label>
		<div class="control">
			<input ng-model="data.username" type="text" placeholder="Username" required />
		</div>
	</div>
	
	<div class="control-group required">
		<label>Email</label>
		<div class="control">
			<input ng-model="data.email" type="email" placeholder="Email" required />
		</div>
	</div>
	
	<div class="control-group required">
		<label>Password</label>
		<div class="control">
			<input ng-model="data.password" type="password" placeholder="Password" required />
		</div>
	</div>
	<div class="control-group">
		<label>Verify Password</label>
		<div class="control">
			<input
				ng-model="verifyPassword"
				type="password"
				placeholder="Verify Password"
				name="passwordVerify"
				l2-matches="data.password" />
		</div>
		<div ng-messages="form.passwordVerify.$error">
			<p class="tip error" ng-message="matches">Passwords do not match</p>
		</div>
	</div>
</l2-form>