<l2-form url='/setup/database' submit-text="Save Config" on-success="nextStep">
	<div class="control-group required">
		<label>Database</label>
		<div class="control">
			<input ng-model="data.database" type="text" placeholder="Database Name" />
		</div>
	</div>
	
	<div class="control-group">
		<label>User</label>
		<div class="control">
			<input ng-model="data.user" type="text" placeholder="Database User" />
		</div>
		<p class="tip">Optional</p>
	</div>
	
	<div class="control-group">
		<label>Password</label>
		<div class="control">
			<input ng-model="data.password" type="password" placeholder="Database Password" />
		</div>
		<p class="tip">Optional</p>
	</div>
	
	<div class="control-group">
		<label>Host</label>
		<div class="control">
			<input ng-model="data.host" type="text" placeholder="Database Hostname" />
		</div>
		<p class="tip">Optional</p>
	</div>
	
	<div class="control-group">
		<label>Port</label>
		<div class="control">
			<input ng-model="data.port" type="text" placeholder="Database Port" />
		</div>
		<p class="tip">Optional</p>
	</div>
</l2-form>