<div class="l2-header">
	<div class="title large push-left">
		Level2 Remix
	</div>

	<div class="link-holder">
		<div class="title large push-right item hide-all show-tiny show-small show-medium">
			<i l2-icon="fa-bars"></i>
		</div>

		<div ng-click="routeTo('/panel')" class="link-item large">Panel</div>
	</div>
</div>
