<h2>Accept Invitation</h2>
<hr />

<l2-form url="{{acceptUrl}}" data="inviteData" on-success="finishInvite" name="acceptForm" ng-if="showSuccess != true">

    <div class="control-group">
        <label>Username</label>
        <div class="control">
            <input value="{{data.username}}" type="text" disabled />
        </div>
    </div>

    <div class="control-group">
        <label>Activation Code</label>
        <div class="control">
            <input value="{{data.activationCode}}" type="text" disabled />
        </div>
    </div>

    <div class="control-group">
        <label>Password</label>
        <div class="control">
            <input ng-model="data.password" type="password" required />
        </div>
    </div>
    <div class="control-group">
        <label>Repeat Password</label>
        <div class="control">
            <input ng-model="verifyPassword" type="password" l2-matches="data.password" name="passwordVerify" />
        </div>
        <div ng-messages="form.passwordVerify.$error">
			<p class="tip error" ng-message="matches">Passwords do not match</p>
		</div>
    </div>

    </div>

</l2-form>

<div ng-if="showSuccess">
    <h3>Invitation successfully accepted</h3>
    <p ng-show="!!activationStatus">
        You must wait for an administrator to activate your account.<br />
        Current activation status is "{{activationStatus}}"
    </p>
    <p ng-show="!activationStatus">
        You may now log in
    </p>
</div>
