<h2>Send Invitations</h2>
<hr />

<div class="ink-alert block info">
	<h4>New User Invitation</h4>
	
	<div class="pad-large">
		<l2-form
			submit-text="Send Invitation"
			url="/users/invite"
			on-success="onInviteSent" >
			
			<div class="control-group required">
				<label>Username</label>
				<div class="control">
					<input ng-model="data.username" type="text" placeholder="Username" required/>
				</div>
			</div>
			
			<div class="control-group required">
				<label>Email</label>
				<div class="control">
					<input ng-model="data.email" type="email" placeholder="Email" required/>
				</div>
			</div>
			
		</l2-form>
	</div>
</div>