<h2>User Management</h2>
<hr />

<table class="ink-table hover">
	<thead>
		<tr>
			<th class="align-left">Username</th>
			<th class="align-left">Name</th>
			<th class="align-left">Email</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in data.users" ng-click="openUser(user)">
			<td>
				{{user.username}}
				<span ng-if="user.activation_status != null" class="ink-label yellow">
					Inactive
				</span>
			</td>
			<td>
				{{user.firstname}} {{user.lastname}}
			</td>
			<td>{{user.email}}</td>
		</tr>
	</tbody>
</table>
