<h2>Manage {{user.username}}</h2>
<hr />


<l2-form
	url='{{updateURL}}'
	submit-text="Update User"
	on-success="backToUsers"
	pre-submit="prepareUpdate"
	data="user">

	<div class="control-group">
		<label>Activation Status</label>
		<div class="control">
			<input ng-model="data.activation_status" type="text" />
		</div>
		<p class="tip">Set to blank to activate user</p>
	</div>

	<div class="control-group">
		<label>New Password</label>
		<div class="control">
			<input ng-model="data.new_password" type="text" />
		</div>
	</div>
	
	<div class="control-group">
		<label>Firstname</label>
		<div class="control">
			<input ng-model="data.firstname" type="text" />
		</div>
	</div>
	<div class="control-group">
		<label>Lastname</label>
		<div class="control">
			<input ng-model="data.lastname" type="text" />
		</div>
	</div>
	
	<div class="control-group">
		<label>Group Memberships</label>
		<ul class="control unstyled">
			<li ng-repeat="membership in data.memberships">
				<input type="checkbox" ng-model="membership.is_member" />
				<label>{{membership.key}}</label>
			</li>
		</ul>
	</div>

</l2-form>
