/*
 * Styling the App Header
 *
 */

.l2-header {
	background-color: #1B75CE;

	overflow: auto;
	margin-bottom: 20px;
}

.l2-header .title {
	color: #FFFFFF;

	display: inline-block;
	padding: 15px;
	font-weight: 700;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.l2-header .item:hover {
	background-color: #125DA8;
}

.l2-header .link-item {
	color: #FFFFFF;

	padding: 15px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.l2-header .link-item:hover {
	background-color: #125DA8;
	text-decoration: none;
}

.l2-header > .link-holder {
	display: inline-block;
	float: right;
}
