
/* Link ink-badge */
a.ink-badge {
	text-decoration: none;
}
a.ink-badge.blue, a.ink-badge.black, a.ink-badge.grey, a.ink-badge.red, a.ink-badge.orange, a.ink-badge.green {
	color: white;
}
a.ink-badge.white, a.ink-badge.yellow {
	color: #555;
}

/* Spacing Helpers */
.indent {
	padding-left: 25px;
}
.pad-medium {
    padding: 10px;
}
.pad-large {
    padding: 15px;
}

/* Error Reporting */
.error-text {
    background-color: white;
    color: #555;
    font-weight: normal;
    padding: 10px;
    font-family: monospace;
    font-size: 1em;
}

/* Ink fixes */
.ink-alert.block .ink-alert.basic p {
    margin: 0;
}

/* Footer */
.base-wrapper {
	min-height: 100%;
    position: relative;
}
.base-content {
	padding-bottom: 140px;
}
.base-footer {
	width: 100%;
	height: 115px;
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: #444;
	border-top: 6px solid #929292;
	color: white;
}
body, html {
	height: 100%;
}

/* Footer Content */
.footer-version {
	padding: 30px;
	padding-top: 40px;
	display: block;
	font-size: 1.2em;
	text-align: right;
}
