<h2>Reset Password</h2>
<hr />

<p>To reset your password please enter your username below</p>

<l2-form
    url="/account/prr/request"
    submit-text="Request Reset"
    on-success="showEmailSent"
    ng-if="showForm" >
	
	<div class="control-group">
		<label>Username</label>
		<div class="control">
			<input type="text" ng-model="data.username" />
		</div>
	</div>
	
</l2-form>

<h3 ng-if="!showForm">
    An email has been sent to you.
    Please check your email for further instructions.
</h3>
