<h2>Complete Password Reset</h2>
<hr />

<p>Enter your new password below</p>

<l2-form
    url="/account/prr/execute"
    submit-text="Update Password"
    on-success="onReset"
	data="resetData"
    ng-if="showForm" >
	
	<div class="control-group">
        <label>Password</label>
        <div class="control">
            <input ng-model="data.password" type="password" required />
        </div>
    </div>
    <div class="control-group">
        <label>Repeat Password</label>
        <div class="control">
            <input ng-model="verifyPassword" type="password" l2-matches="data.password" name="passwordVerify" />
        </div>
        <div ng-messages="form.passwordVerify.$error">
			<p class="tip error" ng-message="matches">Passwords do not match</p>
		</div>
    </div>
	
</l2-form>

<h3 ng-if="!showForm">
    Your password has been successfully updated.
	To log in navigate back to the login screen.
</h3>
