<h1>Admin Login</h1>
<hr />

<l2-form
	url="/admin-api/login"
	submit-text="Login"
	on-success="startSession">
	
	<div class="control-group">
		<label>Username</label>
		<div class="control">
			<input type="text" placeholder="Username" ng-model="data.username" />
		</div>
	</div>
	
	<div class="control-group">
		<label>Password</label>
		<div class="control">
			<input type="password" placeholder="Password" ng-model="data.password" />
		</div>
	</div>
</l2-form>