<div class="ink-alert basic" ng-repeat="alert in alerts" ng-class="alert.severity">
	<button class="ink-dismiss" ng-click="removeAlert($index)">&times;</button>
	<p>
		<b ng-if="alert.prefix">{{alert.prefix}}:</b> {{alert.message}}
	</p>
</div>